version: "3"

services:
  certbot:
    image: certbot/dns-cloudflare
    volumes:
      - ./accounts:/etc/accounts
      - ./config:/etc/letsencrypt
      - ./data:/var/lib/letsencrypt

{% if certbot.webroot is defined %}
      - {{ certbot.webroot }}:/var/www/acme-challenge
{% endif %}
